
<!doctype html>
<html lang="en">
    <head>
        <style>
           
            @media (max-width: 480px) {
                .container{
                    margin-top: 100px !important;
                }
            }
        </style>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title><%=title%></title>
        <link rel="icon" type="image/png" href="/img/Flub_New3-01.png"/>
        <meta name="description" content="Union is a beautiful Bootstrap 4 template for multipurpose landing pages." /> 
        <link rel="stylesheet" href="/css/Form.css">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet" />
        <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.10.2/mdb.min.css" rel="stylesheet" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
       
        <!--Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Arimo:400,400i,700,700i" rel="stylesheet">

        <!--vendors styles-->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

        <!-- Bootstrap CSS / Color Scheme -->
        <link rel="stylesheet" href="/css/default.css" id="theme-color">
    </head>
    <body>

        <!--navigation-->
        <nav class="navbar navbar-expand-md navbar-light bg-white fixed-top sticky-navigation" style="background-color: #f2f2f2 !important;">
            <a class="navbar-brand mx-auto" href="/">
                Flub Waste Bank
            </a>
            <button class="navbar-toggler navbar-toggler-right border-0" type="button" data-toggle="collapse" 
                    data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span data-feather="menu"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link page-scroll" href="/users/home">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link page-scroll" href="/users/profile">Profile</a>
                    </li>
                  
                    <li class="nav-item">
                        <a class="nav-link page-scroll" href="/users/contact">Contact</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link page-scroll" href="/users/logout">Logout</a>
                    </li>
                    
                </ul>
                
            </div>
        </nav>

      


        <!--services section-->
        <section class="py-4" style="padding-bottom: 0 !important; " >
            <div class="container" style=" padding-top: 10px !important; margin-bottom: 0px !important; ">
          
                    <!-- <div class="title"> </div> -->
                    <div class="content">
                        <form action="/users/requestcall" method="POST">
                            <div class="user-details">
                                <div class="input-box">
                                    <span class="details">Full Name</span>
                                    <input type="text" name="name" value="<%=profile.name%>" disabled placeholder="Enter your name" required>
                                </div>
                                <input type="hidden" name="user" value="<%=profile.id%>" required>
                                <div class="input-box">
                                    <span class="details">Email</span>
                                    <input type="email" name="email" value="<%=profile.email%>" disabled placeholder="Enter your Email" required>
                                </div>
                                <div class="input-box">
                                    <span class="details">Phone Number</span>
                                    <input type="text" name="phone"  maxlength="10" pattern="\d{10}" value="<%=profile.phone%>" placeholder="Enter your number" required>
                                </div>
                                <div class="input-box">
                                    <span class="details">Address</span>
                                    <input type="text" name="address" value="<%=profile.houseno%> ,<%=profile.street%> ,<%=profile.city%>" placeholder="Enter Address" required >
                                    <!-- <textarea name="" id="" cols="30" rows="1" placeholder="Enter your Address" required></textarea> -->
                                </div>
                                <div class="input-box">
                                    <span class="details">Waste Category</span>
                                    <select name="waste" required>
                                        <option disabled="disabled" selected="selected">Choose option</option>
                                        <option>EWaste</option>
                                        <option>Kitchen</option>
                                        <option>Paper</option>
                                        <option>Metal</option>
                                        <option>Medical</option>
                                        <option>Plastic</option>
                                    </select>
                                </div>
                                <div class="input-box">
                                    <span class="details">Waste Quantity</span>
                                    <select name="quantity" required>
                                        <option disabled="disabled" selected="selected">Choose option</option>
                                        <option value="1">Less than 500gm</option>
                                        <option value="1">Less than 1kg</option>
                                        <option value="2">Less than 2kg</option>
                                        <option value="5">Less than 5kg</option>
                                        <option value="10">Less than 10kg</option>
                                    </select>
                                </div>
                                <div class="input-box">
                                    <span class="details">Date</span>
                                    <input type="date" name="date" required>
                                </div>
                                <div class="input-box">
                                    <span class="details">Time Slot</span>
                                    <select name="time" required>
                                        <option disabled="disabled" selected="selected">Choose option</option>
                                        <option>09:00 - 12:00 AM</option>
                                        <option>12:00 - 03:00 PM</option>
                                        <option>03:00 - 06:00 PM</option>
                                        <option>06:00 - 09:00 PM</option>
                                    </select>
                                </div>
                            </div>
                            <div class="button">
                                <input type="submit" value="Register">
                            </div>
                        </form>
                    </div>
               

               
            </div>
            
        </section>


     

   

     

       
       
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.5.0/feather.min.js"></script>
        
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.10.2/mdb.min.js"></script>
        <script src="/js/scripts.js"></script>
        
    </body>
</html>