
<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title><%=title%></title>
        <link rel="icon" type="image/png" href="/img/Flub_New3-01.png"/>
        <meta name="description" content="Union is a beautiful Bootstrap 4 template for multipurpose landing pages." /> 

        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet" />
        <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.10.2/mdb.min.css" rel="stylesheet" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="/css/Profile.css">
        <!--Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Arimo:400,400i,700,700i" rel="stylesheet">

        <!--vendors styles-->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

        <!-- Bootstrap CSS / Color Scheme -->
        <link rel="stylesheet" href="/css/default.css" id="theme-color">
    </head>
    <body>

        <!--navigation-->
        <nav class="navbar navbar-expand-md navbar-light bg-white fixed-top sticky-navigation" style="background-color: #f2f2f2 !important;">
            <a class="navbar-brand mx-auto" href="/">
                Flub Waste Bank
            </a>
            <button class="navbar-toggler navbar-toggler-right border-0" type="button" data-toggle="collapse" 
                    data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span data-feather="menu"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link page-scroll" href="/users/home">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link page-scroll" href="/users/requestcollection">Request Now</a>
                    </li>
                  
                    <li class="nav-item">
                        <a class="nav-link page-scroll" href="/users/contact">Contact</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link page-scroll" href="/users/logout">Logout</a>
                    </li>
                    
                </ul>
                
            </div>
        </nav>

      


        <!--services section-->
        <section class="py-7" style="padding-bottom: 0 !important;" >
            <div class="container" style=" padding-top: 0 !important; margin-bottom: 0px !important; ">
          
                <div class="row">
                    <div class="col-lg-4">
                        <div class="card mb-4">
                            <div class="card-body text-center">
                                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp"
                                    alt="avatar" class="rounded-circle img-fluid" style="width: 150px;">
                                <h5 class="my-4"><%=profile.name%></h5>
                                <!-- <p class="text-muted mb-1">Member</p>
                                <p class="text-muted mb-4">Flub Waste Bank, India</p> -->
                            </div>
                        </div>
                        <div class="card mb-4 mb-lg-0">
                            <div class="card-body p-0">
                                <ul class="list-group list-group-flush rounded-3">
                                    <li class="d-flex justify-content-center align-items-center p-2">
                                        <img src="/img/coin.png" alt="Coin" class="coin-img">
                                    </li>
                                    <li class="d-flex justify-content-center align-items-center p-0">
                                        <p class="user-coin"><%=profile.coins%></p>
                                    </li>
                                    <li class="d-flex justify-content-center align-items-center p-4">
                                        <!-- <button type="button" class="btn btn-color">Redeem Voucher</button> -->
                                        <a href="/users/redeemcoin">Redeem your coins</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-8">
                        <div class="card mb-1">
                            <div class="card-body">
    
                                <div class="row">
                                    <div class="col-sm-3">
                                        <p class="mb-0">Email</p>
                                    </div>
                                    <div class="col-sm-9">
                                        <p class="text-muted mb-0"><%=profile.email%></p>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <p class="mb-0">House Id</p>
                                    </div>
                                    <div class="col-sm-9">
                                        <p class="text-muted mb-0"><%=profile.uhn%></p>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <p class="mb-0">Full Name</p>
                                    </div>
                                    <div id="1" class="col-sm-9 d-flex justify-content-between">
                                        <p class="d-inline text-muted mb-0"><%=profile.name%></p>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <p class="mb-0">Phone</p>
                                    </div>
    
                                    <div id="2" class="col-sm-9 d-flex justify-content-between">
                                        <p class="d-inline text-muted mb-0"><%=profile.phone%></p> 
                                    </div>
                                </div>
                                <hr>    
                                <div class="row">
                                    <div class="col-sm-3">
                                        <p class="mb-0">State</p>
                                    </div>
                                    <div class="col-sm-9">
                                        <p class="text-muted mb-0"><%=profile.stateut%></p>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <p class="mb-0">City</p>
                                    </div>
                                    <div id="6" class="col-sm-9 d-flex justify-content-between">
                                        <p class="text-muted mb-0 d-inline"><%=profile.city%></p> 
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <p class="mb-0">Ward</p>
                                    </div>
                                    <div id="5" class="col-sm-9 d-flex justify-content-between">
                                        <p class="text-muted mb-0 d-inline"><%=profile.ward%></p>   
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <p class="mb-0">Street</p>
                                    </div>
                                    <div id="4" class="col-sm-9 d-flex justify-content-between">
                                        <p class="text-muted mb-0 d-inline"><%=profile.street%></p>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <p class="mb-0">House No.</p>
                                    </div>
                                    <div id="3" class="col-sm-9 d-flex justify-content-between">
                                        <p class="text-muted mb-0 d-inline"><%=profile.houseno%></p>
                                    </div>
                                </div>
                                <hr>
                               
                                
                                <div class="row">
                                    <div class="col-sm-3">
                                        <!-- <p class="mb-0">Coins</p> -->
                                       <a href="/users/update">
                                            <button class="edit-btn" onclick="editButton(this)">
                                                Update <i class="fas fa-pen" style="color: rgb(155, 155, 155); font-size: 20px;"></i>
                                            </button> 
                                       </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

               
            </div>
            
        </section>


     

   

     

       
       
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.5.0/feather.min.js"></script>
        
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.10.2/mdb.min.js"></script>
        <script src="/js/scripts.js"></script>
        
    </body>
</html>